body{
    background-color: #ececec;
    height: -webkit-fill-available;
}

.HelpLis{
    width: 100%;
    height: 100%;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.HelpList-one{
    width: 100%;
    height: 100%;
    line-height: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.HelpList-one-section{
    width: 93.6%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HelpList-header-headline{
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: left;
    font-size: 28px;
    color: #A088D4;
    vertical-align: middle;
    font-weight: bold;
}

.HelpList-one-li{
    width: 100%;
    height: 81px;
    line-height: 81px;
    text-align: left;
    font-size: 24px;
    color: #666;
    vertical-align: middle;
    border-top: 1px solid #e4e4e4;
}

.HelpList-two-section{
    width: 93.6%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.HelpList-two{
    width: 100%;
    height: 100%;
    line-height: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
}