body{
    background-color: #ececec;
    /*height: -webkit-fill-available;*/
}

.HelpList{
    width: 100%;
    height: 100%;
    background-color: #fff;
    line-height: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 24px;
    box-sizing: border-box;
}

.HelpList-header{
    width: 100%;
    vertical-align: middle ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}

.HelpList-header-headline{
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: left;
    font-size: 28px;
    color: #A088D4;
    vertical-align: middle;
    border-bottom: 1px solid #e4e4e4;
    font-weight: bold;
}


.HelpList-section{
    width: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HelpList-section-img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.HelpList-section-text{
    width: 100%;
    height: 100%;
    line-height: 36px;
    vertical-align: middle;
    font-size: 24px;
    color: #666666;
    text-align: left;
    margin:27px 0;
}
.HelpList-section-text img{
    width: 100%;
}